h1 {
    text-align: center;
    color: whitesmoke;
    font-family: 'Kalam', cursive;
}

figure{
    text-align:center;
    margin-top: 7rem;

    img{
        border: 2px solid white;
        border-radius: 50%;
        width:30%;
        height: auto;
        
    }

    p{
        font-family: 'Kalam', cursive;
        font-size: 1.5rem;
        color: whitesmoke;
    }

    figcaption{
        font-size: 1.4rem;
        font-weight: bold;
        color: whitesmoke;
    }
}

body{
    margin: 0;
    padding: 0;
    background-image: url('../img/bcg5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}